doctype html
html
  head
    title= Login
    link(rel='stylesheet', href='/stylesheets/form-elements.css')
  body
    div(style='float:left;margin:10px;')
      a(href='/') Home

    div(style='float:right')
      a(href='/users/register', style='margin:10px;') Register
      a(href='/users/forget', style='margin:10px;') Forget Password

    div(style='padding:50px')
      form(name='login', action='/apis/login' method='post')
        h1 Login
        div
          p
            label(style='padding-right:50px') Username or Email
            input(type='text', name='user', placeholder='username@example.com')
          p
            label(style='padding-right:110px') Password
            input(type='password', name='passwd')
        p
          span(style='padding-right:260px') 
            a(href='/users/forget', style='padding-right:175px') Forget Password
          input(type='submit', name='submit', values'Login')
